Fabric3==1.11.1.post1
Jinja2==2.10.1
MarkupSafe==0.23
argparse==1.2.1
ecdsa==0.13.3
envelopes
pycrypto==2.6.1
requests==2.20.0
retrying==1.2.3
simplejson==3.6.3
wsgiref==0.1.2
-e git+https://github.com/CanalTP/fabtools.git#egg=fabtools-master
semver==2.2.1
